<h1 mat-dialog-title *ngIf="id">Edit <strong>"{{type}}"</strong> record with ID = {{id}}</h1>
<h1 mat-dialog-title *ngIf="!id">New <strong>"{{type}}"</strong> record</h1>

<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let fld of fieldNames" class="form-row">
      <ng-container *ngIf="fld !== 'id' || (fld === 'id' && !id)">
        <mat-form-field *ngIf="fieldSize[fld] !== 'fld-size-lg'" class="{{fieldSize[fld]}}">
          <input matInput formControlName="{{fld}}" placeholder="{{fld}}" aria-label="" id="{{fld}}" >
        </mat-form-field>
        <mat-form-field *ngIf="fieldSize[fld] === 'fld-size-lg'" class="{{fieldSize[fld]}}">
          <textarea matInput formControlName="{{fld}}" placeholder="{{fld}}" aria-label="" id="{{fld}}"></textarea>
        </mat-form-field>
      </ng-container>
    </div>  
  </form> 
</div>

<hr>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Save</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>